<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>
  <link rel="icon" href="../static/images/tch.jpg" type="image/x-icon">
  <link rel="stylesheet" href="../static/styles/index.css">
  <link rel="stylesheet" href="../static/styles/about.css">
  <link rel="stylesheet" href="../static/styles/styles.css">
</head>
<body>
  <nav id="lop"></nav>
  <script src="../static/scripts/index.js"></script>

  <header>
    <div class="header_img">
      <img src="../static/images/tch.jpg" class="header_logo"></img>
      <img src="../static/images/nom.jpg" class="header_icon"></img>   
    </div>

    <div class="menu_bar">

      <button for="menu_checkbox" class="collapse">
        <hr class="collapse_line" id="line1">
        <hr class="collapse_line" id="line2">
        <hr class="collapse_line" id="line3">
      </button>

      <script>
        document.querySelector('.collapse').addEventListener('click', function() {
            this.classList.toggle('active');
          });

      </script>
            
      <div class="collapse_content">

        <div class="dropdown">
          <a href="{{ url_for('index') }}">
              <button class="dropbtn" id="the_home">Home</button>
          </a>
        </div>

        <div class="dropdown">
            <button class="dropbtn">About</button>
            <div class="dropdown-content" style="position: absolute; left: -50px;">
              <a href="{{ url_for('about') }}">History/Values</a>
              <a href="{{ url_for('govboard') }}">Governing Board</a>
              <a href="{{ url_for('principal') }}">Principal’s Message</a>
              <a href="{{ url_for('anthem') }}">Anthem/Mission/Vision</a>
              <a href="{{ url_for('gallery') }}">Gallery</a>
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn">School</button>
            <div class="dropdown-content" style="position: absolute; left: -50px;">
              <a href="{{ url_for('curriculum') }}">Academic Curricullum</a>
              <a href="{{ url_for('extra_curriculum') }}">Co-Curricullum</a>
              <a href="#">School-Calender</a>
              <a href="#">List Of Books</a>
              <a href="{{ url_for('religious') }}">Religious</a>
            </div>
        </div>


        <div class="dropdown">
            <button class="dropbtn">Admission</button>
            <div class="dropdown-content" id="admission" style="position: absolute; left: -40px;">
              <a href="{{ url_for('application') }}">Application Form</a>
              <a href="{{ url_for('admission') }}">Admission Process</a>
              <a href="{{ url_for('fees') }}">Fees/Payment</a>
            </div>
        </div>


        <div class="dropdown">
          <button class="dropbtn">Login Portal</button>
          <div class="dropdown-content" id="portal" style="position: absolute; left: -40px;">
            <a href="{{ url_for('portal') }}">Parent Portal</a>
            <a href="{{ url_for('portal') }}">Teachers Portal</a>
          </div>
        </div>


      </div>
    </div>

  </header>

      <!-- Collapse Script -->
      <script>
        // Add event listener to the button
        const collapseButton = document.querySelector('.collapse');
        const content = document.querySelector('.collapse_content');

        collapseButton.addEventListener('click', () => {
            content.style.display = content.style.display === 'block' ? 'none' : 'block';
        });

        var coll = document.getElementsByClassName("dropbtn");
        var i;

        for (i = 0; i < coll.length; i++)
        {
          coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;

            if (content.style.maxHeight) {
              content.style.maxHeight = null;
            }

            else {
              content.style.maxHeight = content.scrollHeight + "px";
            }

          });
        }
      </script>

  <img src="../static/images/history.jpg" class="history_img" alt="History Image">
  <div class="banner"></div>
  <div class="banner_fill">
    <h1>History/Values</h1>
    <a href="{{ url_for('index') }}">Home</a>
    <a>History/Values</a>
  </div>

  <div id="history">
    <img src="../static/images/min.jpg" class="history_icon" alt="History Icon">
    <h1 class="history_caption">History</h1>
    <h4 id="story1">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error eos, repudiandae sed dolorum ratione quibusdam culpa, iste veniam, cupiditate exercitationem nobis at repellendus beatae accusamus nam? Veniam nam dolorem doloremque? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis non, voluptatem autem enim sed cupiditate doloribus pariatur deleniti sequi, vitae laboriosam illum? A quia veniam blanditiis tenetur eveniet, ratione omnis. voluptatem autem enim sed cupiditate doloribus pariatur deleniti sequi, vitae laboriosam illum? A quia veniam blanditiis tenetur eveniet, ratione omnis.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus non quibusdam impedit nostrum voluptatibus quo nihil eveniet culpa id! Modi, quo aut maxime repellat natus fugiat minus iusto ipsum est. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, maiores tempora praesentium nesciunt quam fugiat corporis numquam repudiandae neque unde beatae optio deserunt similique perferendis blanditiis architecto quos laborum. Laborum.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident non modi reprehenderit blanditiis. Eligendi omnis, fuga eius, porro eveniet odit expedita atque numquam officia quod ducimus maiores consectetur, aliquam sunt? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia esse quos accusantium veritatis explicabo. Officiis nisi pariatur est corrupti nihil atque animi, iusto, distinctio accusamus nulla veritatis nemo repellat perspiciatis.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis itaque blanditiis non consectetur ipsam totam dignissimos labore, tempora quo rem quasi neque quas, hic nesciunt amet doloremque. Et, veritatis perferendis.
      </p>
    </h4>
    
    <h1 class="few_words">Few Words About Us</h1>
  
    <div class="words_container">
      <span style="position: absolute;">	
        <h3 class="story2">Crescent Heights oyo is one of the schools in oyo that you can pass your exam without doing malpractice inntis life. Thsi are the qualities of the goob of being a good ambassador of the truth in this life there area some thind that you cann't neglet</h3>
        
        <div class="words_content">
          <img src="../static/images/diamond.png" class="sup_img" alt="Academic Excellence">
          <h2>Academic Excellence</h2>
          <h4>Awesome Result of Crescent Heights student has been a considering features for enrolling your children in crescent heights oyo </h4>

          <img src="../static/images/aims.png" class="sup_img" alt="Resilience">
          <h2>Resilience</h2>
          <h4>Awesome Result of Crescent Heights student has been a considering features for enrolling your children in crescent heights oyo </h4>

          <img src="../static/images/islam.jpeg" class="sup_img" alt="Spiritual Uprightness">
          <h2>Spiritual Uprightness</h2>
          <h4>Awesome Result of Crescent Heights student has been a considering features for enrolling your children in crescent heights oyo </h4>

          <img src="../static/images/moral.png" class="sup_img" alt="Moral Values">
          <h2>Moral Values</h2>
          <h4>Awesome Result of Crescent Heights student has been a considering features for enrolling your children in crescent heights oyo </h4>

        </div>
      </span>
    </div>
  </div>


 <!-- Footer Section... -->
<footer class="footer">
  <div class="container">
    <div class="footer-top">
      <div class="footer-column">
        <h3>Contact Us</h3>
        <p>Odo Aarin Oyo state, Nigeria</p>
        <p>Email: info@example.com</p>
        <p>Phone: +224 803 567 890</p>
      </div>
      <div class="footer-column">
        <h3>Quick Links</h3>
        <ul>
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li><a href="{{ url_for('about') }}">About Us</a></li>
          <li><a href="{{ url_for('extra_curriculum') }}">Programs</a></li>
          <li><a href="{{ url_for('admission') }}">Admissions</a></li>
          <li><a href="{{ url_for('fees') }}">Payment</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>Connect With Us</h3>
        <ul class="social-icons">
          <li><a href="#"><img src="../static/images/facebook-removebg-preview.png" alt="Facebook" class="img-fluid"></a></li>
          <li><a href="#"><img src="../static/images/twitter-removebg-preview.png" alt="Twitter" class="img-fluid"></a></li>
          <li><a href="#"><img src="../static/images/instagram-removebg-preview.png" alt="Instagram" class="img-fluid"></a></li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="footer-bottom">
      <p>&copy; 2024 Crescent Heights. All Rights Reserved.</p><br>
      <p>DEVELOPED BY SOBIL</p>
    </div>
  </div>
</footer>
</body>
</html>
