<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Anthem</title>

</head>
<link rel="stylesheet" href="anthem.css">
<link rel="stylesheet" href="index.css">
<link rel="icon" href="tch.jpg" type="image/x-icon">

</head>
<body style="background-color: rgb(218, 213, 213);">
	
  <header>
    <div class="header_img">
      <img src="tch.jpg" class="header_logo"></img>
      <img src="nom.jpg" class="header_icon"></img>   
    </div>

    <div class="menu_bar">

      <button for="menu_checkbox" class="collapse">
        <hr class="collapse_line" id="line1">
        <hr class="collapse_line" id="line2">
        <hr class="collapse_line" id="line3">
      </button>

      <script>
        document.querySelector('.collapse').addEventListener('click', function() {
            this.classList.toggle('active');
          });

      </script>
            
      <div class="collapse_content">

        <div class="dropdown">
          <a href="index.html">
              <button class="dropbtn" id="the_home">Home</button>
          </a>
        </div>

        <div class="dropdown">
            <button class="dropbtn">About</button>
            <div class="dropdown-content" style="position: absolute; left: -50px;">
              <a href="about.html">History/Values</a>
              <a href="govboard.html">Governing Board</a>
              <a href="Principal.html">Principal’s Message</a>
              <a href="anthem.html">Anthem/Mission/Vision</a>
              <a href="gallery.html">Gallery</a>
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn">School</button>
            <div class="dropdown-content" style="position: absolute; left: -50px;">
              <a href="curricullum.html">Academic Curricullum</a>
              <a href="extra curricullum.html">Co-Curricullum</a>
              <a href="#">School-Calender</a>
              <a href="#">List Of Books</a>
              <a href="religios.html">Religious</a>
            </div>
        </div>


        <div class="dropdown">
            <button class="dropbtn">Admission</button>
            <div class="dropdown-content" id="admission" style="position: absolute; left: -40px;">
              <a href="admission.html">Admission Process</a>
              <a href="#">Fees/Payment</a>
            </div>
        </div>


        <div class="dropdown">
          <button class="dropbtn">Login Portal</button>
          <div class="dropdown-content" id="portal" style="position: absolute; left: -40px;">
            <a href="portal.html">Parent Portal</a>
            <a href="portal.html">Teachers Portal</a>
          </div>
        </div>


      </div>
    </div>

  </header>

      <!-- Collapse Script -->
      <script>
        // Add event listener to the button
        const collapseButton = document.querySelector('.collapse');
        const content = document.querySelector('.collapse_content');

        collapseButton.addEventListener('click', () => {
            content.style.display = content.style.display === 'block' ? 'none' : 'block';
        });

        var coll = document.getElementsByClassName("dropbtn");
        var i;

        for (i = 0; i < coll.length; i++)
        {
          coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;

            if (content.style.maxHeight) {
              content.style.maxHeight = null;
            }

            else {
              content.style.maxHeight = content.scrollHeight + "px";
            }

          });
        }
      </script>

<img src="min.jpg" class="anthem_img">
<div class="banner"></div>
<div class="banner_fill">
  <h1 style="font-size: 25px;">Anthem/Mission/Vision</h1>
  <a href="index.html">Home</a>
  <a>Anthem/Mission/Vision</a>
</div>

<!--a href="Principal.html"><button id="prev">Previous</button></a> 
<a href="gallery.html"><button id="next">Next</button></a-->



<p class="anthem_caption">School Anthem</p>
<div class="underlineA"></div>
<div  class="anthem_text">
  <h3>We are,We are<br>We are the choosen Generation<br> Situated and serene Environment<br> Surrounded with evergreen plantation<br> Crescent Heights, Crescent Heights <br>Where one loving hands mould <br>Producing us just brain <br>We are nutured to bear the light<br> Reaching for the highest height<br>Shinning forth as light<br>In characters and learning <br>We have many capable hands<br>To Inculcate discipline<br>We teach Science and others<br>We each Humanitarianism <br>For our mission is to excel<br> In the provision of comprehensive knowledge<br>Base on the peace of Alllah<br>For every time, courageous and zest<br>For ever through, For ever through<br>To God and the country we shall be<br>Onward we go<br>No matter what it cost<br>Striving still in the past of every lost<br>Our Flag on high<br>Waiving in the air<br>Higher and Higher</h3>
</div>

<div class="col-6 col-s-9">
  <video width="400" controls>
    <source src="Investors.mp4" type="video/mp4">
    <source src="Investors.ogg" type="video/ogg">
  </video>
</div>
<h1 class="play_video">Play Anthem Video</h1>
  
<h2 class="our_vision">Our Vision</h2>
<div class="underline"></div>		
<h3 class="vision_text">To be a leading institution in the provision of balanced education for the benefit of humanity.</h3>
 
   
<h2 class="mission">Mission Statement</h2>
<div class="underline2"></div>		
<h3 class="mission_text">By providing academic and moral training through technologically enhanced human and material resources, we produce visionary and God fearing leaders. </h3>


<section class="last_section">
  <h3 class="contacts_caption">Our Contacts</h3>
  <hr id="underline">
  <img src="phone.webp" class="phone_icon">
  <h3 class="contacts">+23467272829, +23495982443</h3>

  <img src="fb.png" class="facebook_icon">
  <a href="#" class="fb_link">crescentheightsoyo@facebook</a>

  <img src="whatsapp image.png" class="whatsapp_icon">
  <h3 class="what_contacts">+23467272829, +23495982443</h3>

  <img src="e mail.png" class="email_icon">
  <a href="#" class="email_link">crescentheight@gmail.com</a>
  
  <img src="tch.jpg" class="center_img">
  <h2 class="center_caption">Crescent heights, Oyo.</h2>
  <img src="MPL.png" alt="sobil_icon" class="sobil_icon">
  <h5 class="sobil">DEVELOPED BY SOBIL</h5>
  </div>

  <h3 class="address_caption">Address</h3>
  <hr id="underline1">
  <address class="address_content">
    Crescent Heights New site,
    Opposite Cheif Imam House,Odo-Aarin,Ilora,Oyo,Oyo State,
    Nigeria.
  </address>

  <h5 class="copyright">Copyright,2023.All right reserved by Crescent Heights</h5>

  <a href="index.html">
    <button class="bottom_next_button">
      GO UP
    </button>
  </a>
</section>
</body>
</html>
