<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gallery</title>
  <link rel="icon" href="../static/images/tch.jpg" type="image/x-icon">
  <link rel="stylesheet" href="../static/styles/index.css">
  <link rel="stylesheet" href="../static/styles/gallery.css">
  <link rel="stylesheet" href="../static/styles/styles.css">
</head>
<body>
  <nav id="lop"></nav>
  <script src ="../static/scripts/index.js"></script>

  <header>
    <div class="header_img">
      <img src="../static/images/tch.jpg" class="header_logo"></img>
      <img src="../static/images/nom.jpg" class="header_icon"></img>   
    </div>

    <div class="menu_bar">

      <button for="menu_checkbox" class="collapse">
        <hr class="collapse_line" id="line1">
        <hr class="collapse_line" id="line2">
        <hr class="collapse_line" id="line3">
      </button>

      <script>
        document.querySelector('.collapse').addEventListener('click', function() {
            this.classList.toggle('active');
          });

      </script>
            
      <div class="collapse_content">

        <div class="dropdown">
          <a href="{{ url_for('index') }}">
              <button class="dropbtn" id="the_home">Home</button>
          </a>
        </div>

        <div class="dropdown">
            <button class="dropbtn">About</button>
            <div class="dropdown-content" style="position: absolute; left: -50px;">
              <a href="{{ url_for('about') }}">History/Values</a>
              <a href="{{ url_for('govboard') }}">Governing Board</a>
              <a href="{{ url_for('principal') }}">Principal’s Message</a>
              <a href="{{ url_for('anthem') }}">Anthem/Mission/Vision</a>
              <a href="{{ url_for('gallery') }}">Gallery</a>
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn">School</button>
            <div class="dropdown-content" style="position: absolute; left: -50px;">
              <a href="{{ url_for('curriculum') }}">Academic Curricullum</a>
              <a href="{{ url_for('extra_curriculum') }}">Co-Curricullum</a>
              <a href="#">School-Calender</a>
              <a href="#">List Of Books</a>
              <a href="{{ url_for('religious') }}">Religious</a>
            </div>
        </div>


        <div class="dropdown">
            <button class="dropbtn">Admission</button>
            <div class="dropdown-content" id="admission" style="position: absolute; left: -40px;">
              <a href="{{ url_for('admission') }}">Admission Process</a>
              <a href="{{ url_for('fees') }}">Fees/Payment</a>
            </div>
        </div>


        <div class="dropdown">
          <button class="dropbtn">Login Portal</button>
          <div class="dropdown-content" id="portal" style="position: absolute; left: -40px;">
            <a href="{{ url_for('portal') }}">Parent Portal</a>
            <a href="{{ url_for('portal') }}">Teachers Portal</a>
          </div>
        </div>


      </div>
    </div>

  </header>

      <!-- Collapse Script -->
      <script>
        // Add event listener to the button
        const collapseButton = document.querySelector('.collapse');
        const content = document.querySelector('.collapse_content');

        collapseButton.addEventListener('click', () => {
            content.style.display = content.style.display === 'block' ? 'none' : 'block';
        });

        var coll = document.getElementsByClassName("dropbtn");
        var i;

        for (i = 0; i < coll.length; i++)
        {
          coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;

            if (content.style.maxHeight) {
              content.style.maxHeight = null;
            }

            else {
              content.style.maxHeight = content.scrollHeight + "px";
            }

          });
        }
      </script>

<img src=" ../static/images/disa.jpg" class="gallery_img">
<div class="banner"></div>
<div class="banner_fill">
  <h1>Gallery</h1>
  <a href="{{ url_for('index') }}">Home</a>
  <a href="#">Gallery</a>
</div>

<!--a href="anthem.html"><button id="prev">Previous</button></a> 
<a href="curricullum.html"><button id="next">Next</button></a-->

<div class="our_gal">
  <h1>Our Gallery</h1>
  <hr id="hr_1">
  <hr id="hr_2">
</div>



<div class="gallery">

  <div class="first_col">

    <div class="container1">
      <img src="../static/images/schoolboy.jpg" alt="someting" class="image1">
      <div class="overlay1">
        <div class="text1">
          <h3>Image Description</h3>
          <h5>2019 Footbal Competion</h5>
        </div>
      </div> 
    </div>

    <div class="container2">
      <img src="../static/images/schoolboy.jpg" alt="someting" class="image2">
      <div class="overlay2">
        <div class="text2">
            <h3>Image Description</h3>
            <h5>2020 Inter-house Sport</h5>
        </div>
      </div> 
    </div>

    <div class="container3">
      <img src="../static/images/schoolboy.jpg" alt="someting" class="image3">
      <div class="overlay3">
        <div class="text3">
          <h3>Image Description</h3>
          <h5>2019 Footbal Competion</h5>
        </div>
      </div> 
    </div>

    <div class="container4">
      <img src="../static/images/schoolboy.jpg" alt="someting" class="image4">
      <div class="overlay4">
        <div class="text4">
          <h3>Image Description</h3>
          <h5>Excursion to Badagry</h5>
        </div>
      </div> 
    </div>

    <div class="container5">
      <img src="../static/images/schoolboy.jpg" alt="someting" class="image5">
      <div class="overlay5">
        <div class="text5">
          <h3>Image Description</h3>
          <h5>2019 Footbal Competion</h5>
        </div>
      </div> 
    </div>
        
        <div class="container6">
          <img src="../static/images/schoolboy.jpg" alt="someting" class="image6">
          <div class="overlay6">
            <div class="text6">
              <h3>Image Description</h3>
              <h5>2020 Inter-house Sport</h5>
            </div>
          </div> 
        </div>
        
        <div class="container7">
          <img src="../static/images/schoolboy.jpg" alt="someting" class="image7">
          <div class="overlay7">
            <div class="text7">
              <h3>Image Description</h3>
              <h5>Excursion to Badagry</h5>
            </div>
          </div> 
        </div>
        
        <div class="container8">
          <img src="../static/images/schoolboy.jpg" alt="someting" class="image8">
          <div class="overlay8">
            <div class="text8">
              <h3>Image Description</h3>
              <h5>2019 Footbal Competion</h5>
            </div>
          </div> 
        </div>
        
        <div class="container9">
          <img src="../static/images/schoolboy.jpg" alt="someting" class="image9">
          <div class="overlay9">
            <div class="text9">
              <h3>Image Description</h3>
              <h5>Excursion to Badagry</h5>
            </div>
          </div> 
        </div>

        <div class="container10">
          <img src="../static/images/schoolboy.jpg" alt="someting" class="image10">
          <div class="overlay10">
            <div class="text10">
              <h3>Image Description</h3>
              <h5>2020 Inter-house Sport</h5>
            </div>
          </div> 
        </div>
  </div>
</div>

<!-- Second Column -->

<div class="gallery2">
  <div class="second_col">

    <div class="container1">
      <img src="../static/images/schoolboy.jpg" alt="someting" class="image1">
      <div class="overlay1">
        <div class="text1">
          <h3>Image Description</h3>
          <h5>2019 Footbal Competion</h5>
        </div>
      </div> 
    </div>

    <div class="container2">
      <img src="../static/images/schoolboy.jpg" alt="someting" class="image2">
      <div class="overlay2">
        <div class="text2">
            <h3>Image Description</h3>
            <h5>2020 Inter-house Sport</h5>
        </div>
      </div> 
    </div>

    <div class="container3">
      <img src="../static/images/schoolboy.jpg" alt="someting" class="image3">
      <div class="overlay3">
        <div class="text3">
          <h3>Image Description</h3>
          <h5>2019 Footbal Competion</h5>
        </div>
      </div> 
    </div>

    <div class="container4">
      <img src="../static/images/schoolboy.jpg" alt="someting" class="image4">
      <div class="overlay4">
        <div class="text4">
          <h3>Image Description</h3>
          <h5>Excursion to Badagry</h5>
        </div>
      </div> 
    </div>

    <div class="container5">
      <img src="../static/images/schoolboy.jpg" alt="someting" class="image5">
      <div class="overlay5">
        <div class="text5">
          <h3>Image Description</h3>
          <h5>2019 Footbal Competion</h5>
        </div>
      </div> 
    </div>
        
        <div class="container6">
          <img src="../static/images/schoolboy.jpg" alt="someting" class="image6">
          <div class="overlay6">
            <div class="text6">
              <h3>Image Description</h3>
              <h5>2020 Inter-house Sport</h5>
            </div>
          </div> 
        </div>
        
        <div class="container7">
          <img src="../static/images/schoolboy.jpg" alt="someting" class="image7">
          <div class="overlay7">
            <div class="text7">
              <h3>Image Description</h3>
              <h5>Excursion to Badagry</h5>
            </div>
          </div> 
        </div>
        
        <div class="container8">
          <img src="../static/images/schoolboy.jpg" alt="someting" class="image8">
          <div class="overlay8">
            <div class="text8">
              <h3>Image Description</h3>
              <h5>2019 Footbal Competion</h5>
            </div>
          </div> 
        </div>
        
        <div class="container9">
          <img src="../static/images/schoolboy.jpg" alt="someting" class="image9">
          <div class="overlay9">
            <div class="text9">
              <h3>Image Description</h3>
              <h5>Excursion to Badagry</h5>
            </div>
          </div> 
        </div>

        <div class="container10">
          <img src="../static/images/schoolboy.jpg" alt="someting" class="image10">
          <div class="overlay10">
            <div class="text10">
              <h3>Image Description</h3>
              <h5>2020 Inter-house Sport</h5>
            </div>
          </div> 
        </div>
  </div>
</div>

<!-- Third Column -->

<div class="gallery3">
  <div class="third_col">

    <div class="container1">
      <img src="../static/images/schoolboy.jpg" alt="someting" class="image1">
      <div class="overlay1">
        <div class="text1">
          <h3>Image Description</h3>
          <h5>2019 Footbal Competion</h5>
        </div>
      </div> 
    </div>

    <div class="container2">
      <img src="../static/images/schoolboy.jpg" alt="someting" class="image2">
      <div class="overlay2">
        <div class="text2">
            <h3>Image Description</h3>
            <h5>2020 Inter-house Sport</h5>
        </div>
      </div> 
    </div>

    <div class="container3">
      <img src="../static/images/schoolboy.jpg" alt="someting" class="image3">
      <div class="overlay3">
        <div class="text3">
          <h3>Image Description</h3>
          <h5>2019 Footbal Competion</h5>
        </div>
      </div> 
    </div>

    <div class="container4">
      <img src="../static/images/schoolboy.jpg" alt="someting" class="image4">
      <div class="overlay4">
        <div class="text4">
          <h3>Image Description</h3>
          <h5>Excursion to Badagry</h5>
        </div>
      </div> 
    </div>

    <div class="container5">
      <img src="../static/images/schoolboy.jpg" alt="someting" class="image5">
      <div class="overlay5">
        <div class="text5">
          <h3>Image Description</h3>
          <h5>2019 Footbal Competion</h5>
        </div>
      </div> 
    </div>
        
        <div class="container6">
          <img src="../static/images/schoolboy.jpg" alt="someting" class="image6">
          <div class="overlay6">
            <div class="text6">
              <h3>Image Description</h3>
              <h5>2020 Inter-house Sport</h5>
            </div>
          </div> 
        </div>
        
        <div class="container7">
          <img src="../static/images/schoolboy.jpg" alt="someting" class="image7">
          <div class="overlay7">
            <div class="text7">
              <h3>Image Description</h3>
              <h5>Excursion to Badagry</h5>
            </div>
          </div> 
        </div>
        
        <div class="container8">
          <img src="../static/images/schoolboy.jpg" alt="someting" class="image8">
          <div class="overlay8">
            <div class="text8">
              <h3>Image Description</h3>
              <h5>2019 Footbal Competion</h5>
            </div>
          </div> 
        </div>
        
        <div class="container9">
          <img src="../static/images/schoolboy.jpg" alt="someting" class="image9">
          <div class="overlay9">
            <div class="text9">
              <h3>Image Description</h3>
              <h5>Excursion to Badagry</h5>
            </div>
          </div> 
        </div>

        <div class="container10">
          <img src="../static/images/schoolboy.jpg" alt="someting" class="image10">
          <div class="overlay10">
            <div class="text10">
              <h3>Image Description</h3>
              <h5>2020 Inter-house Sport</h5>
            </div>
          </div> 
        </div>
  </div>
</div>


 <!-- Footer Section... -->
 <footer class="footer">
  <div class="container">
    <div class="footer-top">
      <div class="footer-column">
        <h3>Contact Us</h3>
        <p>Odo Aarin Oyo state, Nigeria</p>
        <p>Email: info@example.com</p>
        <p>Phone: +224 803 567 890</p>
      </div>
      <div class="footer-column">
        <h3>Quick Links</h3>
        <ul>
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li><a href="{{ url_for('about') }}">About Us</a></li>
          <li><a href="{{ url_for('extra_curriculum') }}">Programs</a></li>
          <li><a href="{{ url_for('admission') }}">Admissions</a></li>
          <li><a href="{{ url_for('fees') }}">Payment</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>Connect With Us</h3>
        <ul class="social-icons">
          <li><a href="#"><img src="../static/images/facebook-removebg-preview.png" alt="Facebook" class="img-fluid"></a></li>
          <li><a href="#"><img src="../static/images/twitter-removebg-preview.png" alt="Twitter" class="img-fluid"></a></li>
          <li><a href="#"><img src="../static/images/instagram-removebg-preview.png" alt="Instagram" class="img-fluid"></a></li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="footer-bottom">
      <p>&copy; 2024 Crescent Heights. All Rights Reserved.</p><br>
      <p>DEVELOPED BY SOBIL</p>
    </div>
  </div>
</footer>
</body>
</html>
