<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My First Website</title>
  <link rel="icon" href="../static/images/tch.jpg" type="image/x-icon">
  <link rel="stylesheet" href="../static/styles/index.css">
</head>
<body>
  <nav id="lop"></nav>
  <script src ="../static/scripts/index.js"></script>

  <header>
    <div class="header_img">
      <img src="../static/images/tch.jpg" class="header_logo"></img>
      <img src="../static/images/nom.jpg" class="header_icon"></img>   
    </div>

    <div class="menu_bar">

      <button for="menu_checkbox" class="collapse">
        <hr class="collapse_line" id="line1">
        <hr class="collapse_line" id="line2">
        <hr class="collapse_line" id="line3">
      </button>

      <script>
        document.querySelector('.collapse').addEventListener('click', function() {
            this.classList.toggle('active');
          });

      </script>
            
      <div class="collapse_content">

        <div class="dropdown">
          <a href="index.html">
              <button class="dropbtn" id="the_home">Home</button>
          </a>
        </div>

        <div class="dropdown">
            <button class="dropbtn">About</button>
            <div class="dropdown-content" style="position: absolute; left: -50px;">
              <a href="about.html">History/Values</a>
              <a href="govboard.html">Governing Board</a>
              <a href="Principal.html">Principal’s Message</a>
              <a href="anthem.html">Anthem/Mission/Vision</a>
              <a href="gallery.html">Gallery</a>
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn">School</button>
            <div class="dropdown-content" style="position: absolute; left: -50px;">
              <a href="curricullum.html">Academic Curricullum</a>
              <a href="extra curricullum.html">Co-Curricullum</a>
              <a href="#">School-Calender</a>
              <a href="#">List Of Books</a>
              <a href="religios.html">Religious</a>
            </div>
        </div>


        <div class="dropdown">
            <button class="dropbtn">Admission</button>
            <div class="dropdown-content" id="admission" style="position: absolute; left: -40px;">
              <a href="admission.html">Admission Process</a>
              <a href="fees.html">Fees/Payment</a>
            </div>
        </div>


        <div class="dropdown">
          <button class="dropbtn">Login Portal</button>
          <div class="dropdown-content" id="portal" style="position: absolute; left: -40px;">
            <a href="portal.html">Parent Portal</a>
            <a href="portal.html">Teachers Portal</a>
          </div>
        </div>


      </div>
    </div>

  </header>

      <!-- Collapse Script -->
      <script>
        // Add event listener to the button
        const collapseButton = document.querySelector('.collapse');
        const content = document.querySelector('.collapse_content');

        collapseButton.addEventListener('click', () => {
            content.style.display = content.style.display === 'block' ? 'none' : 'block';
        });

        var coll = document.getElementsByClassName("dropbtn");
        var i;

        for (i = 0; i < coll.length; i++)
        {
          coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;

            if (content.style.maxHeight) {
              content.style.maxHeight = null;
            }

            else {
              content.style.maxHeight = content.scrollHeight + "px";
            }

          });
        }
      </script>



  <div class="slideshow-container">
    <div class="upper_slide_container">
      <div class="sliding">
        <div class="mySlides fade">
            <img src="../static/images/disa.jpg">
        </div>
        <div class="mySlides fade">
            <img src="../static/images/img1 (1).jpg">
        </div>
        <div class="mySlides fade">
          <img src="../static/images/img2.jpg">
        </div>
        <div class="mySlides fade">
          <img src="../static/images/img3.jpg">
        </div>
      </div>

    </div>

    <div class="upper_banner">
      <h1 class="slide_text_show">Crescent Heights</h1>
      <h4 id="slide_text_motto"><i>...the home where leaders are built</i></h4>
    </div>
      <!--a href="#" id="inslide_apply_button">
        <h2 style="margin-top: 7px;">Apply Now</h2>
      </a-->
    <div class="fading_span_dot">
      <span class="dot"></span> 
      <span class="dot"></span> 
      <span class="dot"></span> 
      <span class="dot"></span>
    </div>

    <script>
        let slideIndex = 0;
        showSlides();
        
        function showSlides() {
          let i;
          let slides = document.getElementsByClassName("mySlides");
          let dots = document.getElementsByClassName("dot");
          for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";  
          }
          slideIndex++;
          if (slideIndex > slides.length) {slideIndex = 1}    
          for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
          }
          slides[slideIndex-1].style.display = "block";  
          dots[slideIndex-1].className += " active";
          setTimeout(showSlides, 11000);
        }
    </script>
  </div>

  
<!-- The First Section -->
<div class="sectionA">
    <div class="value_container">
      <div class="value_styling">
        <img src="../static/images/diamond.png" class="value_img">
        <h2>Center of Excellence</h2>
        <hr>
        <h5>Crescent Heights is a center of excellnce <br>that can render a qualitative<br> education to your chilgren</h5>
      </div>

      <div class="value_styling">
        <img src="../static/images/quran2.jpg"  class="value_img">
        <h2>Spiritual Learning</h2>
        <hr>
        <h5>Being a missionary school<br>crescent heights is a school<br>that educate your children religiously</h5>
      </div>

      <div class="value_styling">
        <img src="../static/images/leader.jpg" class="value_img">
        <h2>Upbringing Future Leaders</h2>
        <hr>
        <h5>Crescent Heights is a citadel<br>where learders are built</h5>
      </div>
    </div>
</div>

<!-- The Second Section -->

<section class="sectionB">

      <div class="half_circle_description">
        <h1 class="description_header"><b>One School, Two Pathways</b></h1>
        <h3 class="description_content">Crescent Heights is a Two segmented secondary school with both Junior and Senior section respectively.To know how it journey begins,
          <span style="color: red; font-size: 15px;">
          <br><br><br><br>Click on the button below to learn more</span>
            <!-- <img src="../static/images/arrow_left.png" class="pointing_arrow" alt="pointint_arrow">
            <img src="../static/images/arrow_down.png" class="down_arrow" alt="pointint_arrow"> -->
            <button id="jnr"><b>Junior Section</b></button>
            <button id="snr"><b>Senior Section</b></button>
          </span>
        </h3>
      </div>


    <article class="jnr_snr_art">
      <img src="../static/images/disa.jpg"  alt="Junior School" class="des_img1">
      <h3 class="click_info">Click to view Junior Info</h3>
      <button id="myBtm"></button>

      <!-- The Modal -->
      <div id="myModal2" class="modal2">
        <!-- Modal content -->
          <div class="modal-content2">
            <div class="modal-header2">
              <span class="close2">&times;</span>
              <h2 style="margin-top: auto;">Junior Secondary School</h2>
            </div>
            <div class="modal-body2">
              <p style="color: whitesmoke">Junior secondary school of crescent height soyo is a very good thing for a paarent to consider to enrol his child in cresent heights oyo.It palys an important role in the life of student that are intelligent and those that are not.</p>
            </div>
          </div>
        </div>
  
        <script>
          // Get the modal2
          var modal2 = document.getElementById("myModal2");
          
          // Get the button that opens the modal2
          var btm = document.getElementById("jnr");
          
          // Get the <span> element that closes the modal2
          var span = document.getElementsByClassName("close2")[0];
          
          // When the user clicks the button, open the modal2
          btm.onclick = function() {
            modal2.style.display = "block";
          }
          
          // When the user clicks on <span> (x), close the modal2
          span.onclick = function() {
            modal2.style.display = "none";
          }
          
          // When the user clicks anywhere outside of the modal2, close it
          window.onclick = function(event) {
            if (event.target == modal2) {
              modal2.style.display = "none";
            }
          }
          </script>
        
        
          <script>
            // Get the modal2
            var modal2 = document.getElementById("myModal2");
            
            // Get the button that opens the modal2
            var btm = document.getElementById("myBtm");
            
            // Get the <span> element that closes the modal2
            var span = document.getElementsByClassName("close2")[0];
            
            // When the user clicks the button, open the modal2
            btm.onclick = function() {
              modal2.style.display = "block";
            }
            
            // When the user clicks on <span> (x), close the modal2
            span.onclick = function() {
              modal2.style.display = "none";
            }
            
            // When the user clicks anywhere outside of the modal2, close it
            window.onclick = function(event) {
              if (event.target == modal2) {
                modal2.style.display = "none";
              }
            }
        </script>
    </article>

    <article class="jnr_snr_art">
          <img src="../static/images/campala.jpg"  alt="Senior School" class="des_img2">
          <h3 class="click_info">Click to view Senior Info</h3>
          <button id="myBtn"></button>

      <!-- The Modal -->
      <div id="myModal" class="modal">
      
        <!-- Modal content -->
        <div class="modal-cont">
          <div class="modal-header">
            <span class="close">&times;</span>
            <h2 style="margin-top: auto;">Senior Secondary School</h2>
          </div>
          <div class="modal-body">
            <p style="color: whitesmoke;">Senior secondary school of crescent heights oyo is a very good thing for a paarent to consider to enrol his child in cresent heights oyo.It palys an important role in the life of student that are intelligent and those that are not.</p> 
          </div>
        </div>
      </div>
      
      <script>
        // Get the modal
        var modal = document.getElementById("myModal");
        
        // Get the button that opens the modal
        var btn = document.getElementById("snr");
        
        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        
        // When the user clicks the button, open the modal 
        btn.onclick = function() {
          modal.style.display = "block";
        }
        
        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
          modal.style.display = "none";
        }
        
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        }
        </script>
      
      
      <script>
      // Get the modal
      var modal = document.getElementById("myModal");
      
      // Get the button that opens the modal
      var btn = document.getElementById("myBtn");
      
      // Get the <span> element that closes the modal
      var span = document.getElementsByClassName("close")[0];
      
      // When the user clicks the button, open the modal 
      btn.onclick = function() {
        modal.style.display = "block";
      }
      
      // When the user clicks on <span> (x), close the modal
      span.onclick = function() {
        modal.style.display = "none";
      }
      
      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function(event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }
      </script>
    </article>


  </div>
</section>

<!-- New Section: Extra-Curricular Activities -->
<section class="sectionC">
  <div class="container">
    <h2 class="text-center">Extra-Curricular Activities</h2>
    <p class="text-center">Explore the various activities available to our students to enhance their skills and interests.</p>
    <div class="row">
      <div class="column">
        <a href="activity1.html">
          <div class="card">
            <img src="../static/images/lab.jfif" alt="Activity 1">
            <div class="card-body">
              <h5 class="card-title">Sports</h5>
              <p class="card-text">Engage in various sports to promote physical fitness and teamwork.</p>
            </div>
          </div>
        </a>
      </div>
      <div class="column">
        <a href="activity2.html">
          <div class="card">
            <img src="../static/images/White-coats.webp" alt="Activity 2">
            <div class="card-body">
              <h5 class="card-title">Arts & Crafts</h5>
              <p class="card-text">Unleash creativity through diverse arts and crafts activities.</p>
            </div>
          </div>
        </a>
      </div>
      <div class="column">
        <a href="activity3.html">
          <div class="card">
            <img src="../static/images/disa.jpg" alt="Activity 3">
            <div class="card-body">
              <h5 class="card-title">Music & Drama</h5>
              <p class="card-text">Participate in music and drama to develop performance skills.</p>
            </div>
          </div>
        </a>
      </div>
      <div class="column">
        <a href="activity4.html">
          <div class="card">
            <img src="../static/images/campala.jpg" alt="Activity 4">
            <div class="card-body">
              <h5 class="card-title">Science Club</h5>
              <p class="card-text">Join the science club to explore and experiment with scientific ideas.</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>





<!-- Existing sections... -->
</body>
</html>

<section class="sectionTestimonials">
  <div class="text-center">
    <h2>What Our Students Say</h2>
    <p>Hear from our satisfied students</p>
  </div>
  <div class="testimonial-slider-wrapper">
    <button class="testimonial-nav-button prev">&laquo; Prev</button>
    <div class="testimonial-slider">
      <div class="testimonial-item">
        <img src="../static/images/schoolboy.jpg" alt="Student 1" class="testimonial-img">
        <p class="testimonial-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac vestibulum erat.</p>
        <p class="testimonial-name">John Doe</p>
        <p class="testimonial-role">Alumni</p>
      </div>
      <div class="testimonial-item">
        <img src="../static/images/schoolboy.jpg" alt="Student 2" class="testimonial-img">
        <p class="testimonial-text">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p class="testimonial-name">Jane Smith</p>
        <p class="testimonial-role">Current Student</p>
      </div>
      <div class="testimonial-item">
        <img src="../static/images/schoolboy.jpg" alt="Student 3" class="testimonial-img">
        <p class="testimonial-text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p class="testimonial-name">Emily Johnson</p>
        <p class="testimonial-role">Graduate</p>
      </div>
      <div class="testimonial-item">
        <img src="../static/images/schoolboy.jpg" alt="Student 3" class="testimonial-img">
        <p class="testimonial-text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p class="testimonial-name">Emily Johnson</p>
        <p class="testimonial-role">Graduate</p>
      </div>
      <!-- Add more testimonials as needed -->
    </div>
    <button class="testimonial-nav-button next">Next &raquo;</button>
  </div>
</section>

<!-- Existing sections... -->

















































<!-- <section class="sectionD">
  <h1 class="main_caption">Extra-Curricular Activities</h1>

  <div class="ex-contents">
    <a href="religios.html"><div class="tah"><h4>Tahfidh-l-Qur'an</h4></div></a>
    <a href="religios.html"><div class="comm"><h4>Community service</h4></div></a>
    <a href="religios.html"><div class="mwl"><h4>Mssn Weekly Lecture</h4></div></a>
    <a href="religios.html"><div class="jum"><h4>Jum'ah Service</h4></div></a>
  </div>

  <h2 class="video_caption">Wacth Video to learn more</h2>
  <div class="ex_video">
    <div class="col-6 col-s-9">
      <video width="400" controls>
        <source src="../static/images/Investors.mp4" type="video/mp4">
        <source src="../static/images/Investors.ogg" type="video/ogg">
      </video>
    </div>
  </div>
</section>





<section class="sectionF">
  
  <h2 class="alumni_caption">Our Notable Alumni</h2>

    <div style="margin-top: 70px;">
      <iframe src="alumni_page.html" frameborder="2" height="350px" width="100%"></iframe>
    </div>

</section>

<section id="sectionG">
  <img src="../static/images/world.png" alt="news_icon" class="news_icon">
  <h2 class="news_caption">NEWS<strong id="and_icon">&</strong> EVENTS</h2>
  <h1 id="trend"><i>There will always be a Thrend in Crescent Heights, check out for thrending news...</i></h1>

    
  <div class="news_events">
    <iframe src="new_event.html" frameborder="0" height="400px" width="100%"></iframe>
  </div>
</section>


<section class="sectionJ">
  <h1 class="tour">Take a Vitual Tour</h1>
  <div class="school_map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3952.592020171347!2d3.9098940741416643!3d7.832930306565178!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x10375959103d6c31%3A0xc0617cfc3cb80fb6!2sCrescent%20heights.%20Oyo.!5e0!3m2!1sen!2sng!4v1690306759778!5m2!1sen!2sng" width="1500" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</section>


<section class="sectionK">
  <h3 class="contacts_caption">Our Contacts</h3>
  <hr id="underline">
  <img src="../static/images/phone.webp" class="phone_icon">
  <h3 class="contacts">+23467272829, +23495982443</h3>

  <img src="../static/images/fb.png" class="facebook_icon">
  <a href="#" class="fb_link">crescentheightsoyo@facebook</a>

  <img src="../static/images/whatsapp image.png" class="whatsapp_icon">
  <h3 class="what_contacts">+23467272829, +23495982443</h3>

  <img src="../static/images/e mail.png" class="email_icon">
  <a href="#" class="email_link">crescentheight@gmail.com</a>
  
  <img src="../static/images/tch.jpg" class="center_img">
  <h2 class="center_caption">Crescent heights, Oyo.</h2>
  <img src="../static/images/MPL.png" alt="sobil_icon" class="sobil_icon">
  <h5 class="sobil">DEVELOPED BY SOBIL</h5>
  </div>

  <h3 class="address_caption">Address</h3>
  <hr id="underline1">
  <address class="address_content">
    Crescent Heights New site,
    Opposite Cheif Imam House,Odo-Aarin,Ilora,Oyo,Oyo State,
    Nigeria.
  </address>

  <h5 class="copyright">Copyright,2023.All right reserved by Crescent Heights</h5>

  <a href="index.html">
    <button class="bottom_next_button">
      GO UP
    </button>
  </a>
</section>
</body>
</html>  -->
