{% extends 'base.html' %}

{% block content %}
  <title>Crescent Heights</title>
  <!-- Rest of the code goes here -->

<div class="slideshow-container">
  <div class="upper_slide_container">
    <div class="sliding">
      <div class="mySlides fade">
        <div class="slide-content">
          <img src="../static/images/girls_in_class.jpg" alt="Image 1">
          <div class="slide-text">
            <h2>Welcome to Crescent Heights</h2>
            <p>Discover the excellence of education at Crescent Heights. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a href="../templates/about.html" class="slide-link">Learn More</a>
          </div>
        </div>
      </div>

      <div class="mySlides fade">
        <div class="slide-content">
          <img src="../static/images/img2.jpg" alt="Image 2">
          <div class="slide-text">
            <h2>Explore Our Campus</h2>
            <p>Take a virtual tour of our state-of-the-art campus facilities. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a href="../templates/gallery.html" class="slide-link">Learn More</a>
          </div>
        </div>
      </div>

      <div class="mySlides fade">
        <div class="slide-content">
          <img src="../static/images/img3.jpg" alt="Image 3">
          <div class="slide-text">
            <h2>Join Our Community</h2>
            <p>Become a part of our vibrant and inclusive school community. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a href="../templates/extra curricullum.html" class="slide-link">Learn More</a>
          </div>
        </div>
      </div>

      <div class="mySlides fade">
        <div class="slide-content">
          <img src="../static/images/religious.jpg" alt="Image 4">
          <div class="slide-text">
            <h2>Experience Academic Excellence</h2>
            <p>Discover our rigorous academic programs and dedicated faculty. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a href="../templates/curricullum.html" class="slide-link">Learn More</a>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>

  <div class="upper_banner">
    <h1 class="slide_text_show">Crescent Heights</h1>
    <!-- <h4 id="slide_text_motto"><i>...the home where leaders are built</i></h4> -->
  </div>
  
  <div class="fading_span_dot">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
  </div>
</div>

  
<!-- The First Section -->
  <div class="sectionA">
    <div class="value_container">
      <div class="value_styling">
        <img src="../static/images/diamond.png" class="value_img">
        <h2>Center of Excellence</h2>
        <hr>
        <h5>Crescent Heights is a center of excellnce <br>that can render a qualitative<br> education to your chilgren</h5>
      </div>

      <div class="value_styling">
        <img src="../static/images/quran2-removebg-preview.png"  class="value_img">
        <h2>Spiritual Learning</h2>
        <hr>
        <h5>Being a missionary school<br>crescent heights is a school<br>that educate your children religiously</h5>
      </div>

      <div class="value_styling">
        <img src="../static/images/leader-removebg-preview.png" class="value_img">
        <h2>Upbringing Future Leaders</h2>
        <hr>
        <h5>Crescent Heights is a citadel<br>where learders are built</h5>
      </div>
    </div>
</div>

<!-- The Second Section -->

<section class="sectionB">

      <div class="half_circle_description">
        <h1 class="description_header"><b>One School, Two Pathways</b></h1>
        <h3 class="description_content">Crescent Heights is a Two segmented secondary school with both Junior and Senior section respectively.To know how it journey begins,
          <span style="color: red; font-size: 15px;">
          <br><br><br>Click on the button below to learn more
            <!-- <img src="../static/images/arrow_left.png" class="pointing_arrow" alt="pointint_arrow">
            <img src="../static/images/arrow_down.png" class="down_arrow" alt="pointint_arrow"> -->
            <button id="jnr"><b>Junior Section</b></button>
            <button id="snr"><b>Senior Section</b></button>
          </span>
        </h3>
      </div>


    <article class="jnr_snr_art">
      <img src="../static/images/disa.jpg"  alt="Junior School" class="des_img1">
      <h3 class="click_info">Click to view Junior Info</h3>
      <button id="myBtm"></button>

      <!-- The Modal -->
      <div id="myModal2" class="modal2">
        <!-- Modal content -->
          <div class="modal-content2">
            <div class="modal-header2">
              <span class="close2">&times;</span>
              <h2 style="margin-top: auto;">Junior Secondary School</h2>
            </div>
            <div class="modal-body2">
              <p style="color: whitesmoke">Junior secondary school of crescent height soyo is a very good thing for a paarent to consider to enrol his child in cresent heights oyo.It palys an important role in the life of student that are intelligent and those that are not.</p>
            </div>
          </div>
        </div>
  
        <script>
          // Get the modal2
          var modal2 = document.getElementById("myModal2");
          
          // Get the button that opens the modal2
          var btm = document.getElementById("jnr");
          
          // Get the <span> element that closes the modal2
          var span = document.getElementsByClassName("close2")[0];
          
          // When the user clicks the button, open the modal2
          btm.onclick = function() {
            modal2.style.display = "block";
          }
          
          // When the user clicks on <span> (x), close the modal2
          span.onclick = function() {
            modal2.style.display = "none";
          }
          
          // When the user clicks anywhere outside of the modal2, close it
          window.onclick = function(event) {
            if (event.target == modal2) {
              modal2.style.display = "none";
            }
          }
          </script>
        
        
          <script>
            // Get the modal2
            var modal2 = document.getElementById("myModal2");
            
            // Get the button that opens the modal2
            var btm = document.getElementById("myBtm");
            
            // Get the <span> element that closes the modal2
            var span = document.getElementsByClassName("close2")[0];
            
            // When the user clicks the button, open the modal2
            btm.onclick = function() {
              modal2.style.display = "block";
            }
            
            // When the user clicks on <span> (x), close the modal2
            span.onclick = function() {
              modal2.style.display = "none";
            }
            
            // When the user clicks anywhere outside of the modal2, close it
            window.onclick = function(event) {
              if (event.target == modal2) {
                modal2.style.display = "none";
              }
            }
        </script>
    </article>

    <article class="jnr_snr_art">
          <img src="../static/images/campala.jpg"  alt="Senior School" class="des_img2">
          <h3 class="click_info">Click to view Senior Info</h3>
          <button id="myBtn"></button>

      <!-- The Modal -->
      <div id="myModal" class="modal">
      
        <!-- Modal content -->
        <div class="modal-cont">
          <div class="modal-header">
            <span class="close">&times;</span>
            <h2 style="margin-top: auto;">Senior Secondary School</h2>
          </div>
          <div class="modal-body">
            <p style="color: whitesmoke;">Senior secondary school of crescent heights oyo is a very good thing for a paarent to consider to enrol his child in cresent heights oyo.It palys an important role in the life of student that are intelligent and those that are not.</p> 
          </div>
        </div>
      </div>
      
      <script>
        // Get the modal
        var modal = document.getElementById("myModal");
        
        // Get the button that opens the modal
        var btn = document.getElementById("snr");
        
        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        
        // When the user clicks the button, open the modal 
        btn.onclick = function() {
          modal.style.display = "block";
        }
        
        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
          modal.style.display = "none";
        }
        
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        }
        </script>
      
      
      <script>
      // Get the modal
      var modal = document.getElementById("myModal");
      
      // Get the button that opens the modal
      var btn = document.getElementById("myBtn");
      
      // Get the <span> element that closes the modal
      var span = document.getElementsByClassName("close")[0];
      
      // When the user clicks the button, open the modal 
      btn.onclick = function() {
        modal.style.display = "block";
      }
      
      // When the user clicks on <span> (x), close the modal
      span.onclick = function() {
        modal.style.display = "none";
      }
      
      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function(event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }
      </script>
    </article>


  </div>
</section>

<!-- New Section: Extra-Curricular Activities -->
<section class="sectionC">
  <div class="container">
    <h2 class="text-center">Featuring Activities</h2><br>
    <div class="const_undeline">
      <hr id="hr_1">
      <hr id="hr_2">
    </div>
    <p class="text-center">Explore the various activities available to our students to enhance their skills and interests.</p>
    <div class="row">
      <div class="column">
        <a href="activity1.html">
          <div class="card">
            <img src="../static/images/lab.jfif" alt="Activity 1">
            <div class="card-body">
              <h5 class="card-title">Sports</h5>
              <p class="card-text">Engage in various sports to promote physical fitness and teamwork.</p>
              <a href="../templates/extra curricullum.html" class="btn">Learn More</a>
            </div>
          </div>
        </a>
      </div>
      
      <div class="column">
        <a href="activity2.html">
          <div class="card">
            <img src="../static/images/White-coats.webp" alt="Activity 2">
            <div class="card-body">
              <h5 class="card-title">Arts & Crafts</h5>
              <p class="card-text">Unleash creativity through diverse arts and crafts activities.</p>
              <a href="extra curricullum.html" class="btn">Learn More</a>
            </div>
          </div>
        </a>
      </div>
      <div class="column">
        <a href="activity3.html">
          <div class="card">
            <img src="../static/images/disa.jpg" alt="Activity 3">
            <div class="card-body">
              <h5 class="card-title">Religious</h5>
              <p class="card-text">Participate in music and drama to develop performance skills.</p>
              <a href="../templates/religios.html" class="btn">Learn More</a>
            </div>
          </div>
        </a>
      </div>
      <div class="column">
        <a href="activity4.html">
          <div class="card">
            <img src="../static/images/campala.jpg" alt="Activity 4">
            <div class="card-body">
              <h5 class="card-title">Extra-Curriculum</h5>
              <p class="card-text">Join the science club to explore and experiment with scientific ideas.</p>
              <a href="../templates/extra curricullum.html" class="btn">Learn More</a>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>





<!-- Existing sections... -->
</body>
</html>

<section class="sectionTestimonials">
  <div class="text-center">
    <h2>What Our Students Say</h2><br>
    <div class="const_undeline">
      <hr id="hr_1">
      <hr id="hr_2">
    </div>
    <p>Hear from our satisfied students</p>
  </div>
  <div class="testimonial-slider-wrapper">
    <button class="testimonial-nav-button prev">&laquo; Prev</button>
    <div class="testimonial-slider">
      <div class="testimonial-item">
        <img src="../static/images/schoolboy.jpg" alt="Student 1" class="testimonial-img">
        <p class="testimonial-text">I had an amazing experience at Crescent Heights. The teachers were knowledgeable and supportive, and the extracurricular activities were engaging.</p>
        <p class="testimonial-name">Yahya Yusuf</p>
        <p class="testimonial-role">Alumni</p>
      </div>
      <div class="testimonial-item">
        <img src="../static/images/schoolboy.jpg" alt="Student 2" class="testimonial-img">
        <p class="testimonial-text">Crescent Heights provided me with a well-rounded education. The school's focus on both academics and extracurricular activities helped me develop important skills.</p>
        <p class="testimonial-name">Mustapha Muhammad</p>
        <p class="testimonial-role">Current Student</p>
      </div>
      <div class="testimonial-item">
        <img src="../static/images/schoolboy.jpg" alt="Student 3" class="testimonial-img">
        <p class="testimonial-text">I am grateful for my time at Crescent Heights. The school's supportive community and dedicated teachers helped me achieve my academic goals.</p>
        <p class="testimonial-name">Aminat Ibrahim</p>
        <p class="testimonial-role">Graduate</p>
      </div>
      <div class="testimonial-item">
        <img src="../static/images/schoolboy.jpg" alt="Student 4" class="testimonial-img">
        <p class="testimonial-text">Crescent Heights provided me with a nurturing environment to grow both academically and personally. The school's emphasis on holistic development has made a lasting impact on my life.</p>
        <p class="testimonial-name">Kahdijah Saheed</p>
        <p class="testimonial-role">Alumni</p>
      </div>
      <div class="testimonial-item">
        <img src="../static/images/schoolboy.jpg" alt="Student 2" class="testimonial-img">
        <p class="testimonial-text">Crescent Heights provided me with a well-rounded education. The school's focus on both academics and extracurricular activities helped me develop important skills.</p>
        <p class="testimonial-name">Mustapha Muhammad</p>
        <p class="testimonial-role">Current Student</p>
      </div>
      <!-- Add more testimonials as needed -->
    </div>
    <button class="testimonial-nav-button next">Next &raquo;</button>
  </div>
</section>


<section class="sectionSchoolAdmins">
  <div class="container">
    <div class="text-center">
      <h2 style="font-size: 30px;">School Administrations</h2><br>
      <div class="const_undeline">
        <hr id="hr_1">
        <hr id="hr_2">
      </div>
      <p>Welcome, administrators! Access important resources and information here.</p>
    </div>
    <div class="admin-resources">
      <div class="resource">
        <h3>Staff Directory</h3>
        <p>Find contact information for all school staff members.</p>
        <a href="#" class="btn">View Directory</a>
      </div>
      <div class="resource">
        <h3>School Policies</h3>
        <p>Review school policies and guidelines.</p>
        <a href="#" class="btn">View Policies</a>
      </div>
      <div class="resource">
        <h3>Administrative Services</h3>
        <p>Access administrative services for managing school operations.</p>
        <a href="#" class="btn">View Services</a>
      </div>
      <!-- Add more resources as needed -->
    </div>
  </div>
</section>

<section class="sectionNews">
  <div class="text-center">
    <h2>News and Events</h2><br>
    <div class="const_undeline">
      <hr id="hr_1">
      <hr id="hr_2">
    </div>
    <p>Stay updated with the latest news and events</p>
  </div>
  <div class="news-slider">
    <div class="news-item">
      <img src="../static/images/img2.jpg" alt="News 1" class="news-img">
      <div class="news-content">
        <h3 class="news-title">Exciting Summer Camp</h3>
        <p class="news-date">July 15, 2024</p>
        <p class="news-text">Join us for an exciting summer camp filled with fun activities and learning opportunities. Don't miss out on this amazing experience!</p>
      </div>
    </div>
    <div class="news-item">
      <img src="../static/images/lab.jfif" alt="News 2" class="news-img">
      <div class="news-content">
        <h3 class="news-title">Annual Science Fair</h3>
        <p class="news-date">August 5, 2024</p>
        <p class="news-text">Get ready for our annual science fair where students showcase their innovative projects and experiments. It's a great opportunity to learn and be inspired!</p>
      </div>
    </div>
    <div class="news-item">
      <img src="../static/images/img3.jpg" alt="News 3" class="news-img">
      <div class="news-content">
        <h3 class="news-title">Sports Day Celebration</h3>
        <p class="news-date">September 10, 2024</p>
        <p class="news-text">Join us for a day filled with sports activities and friendly competitions. It's a chance to showcase your athletic skills and have a great time with friends!</p>
      </div>
    </div>
    <div class="news-item">
      <img src="../static/images/campal.jpg" alt="News 4" class="news-img">
      <div class="news-content">
        <h3 class="news-title">Art Exhibition</h3>
        <p class="news-date">October 20, 2024</p>
        <p class="news-text">Experience the creativity and talent of our students at the annual art exhibition. It's a visual treat that you don't want to miss!</p>
      </div>
    </div>
    
    <!-- Add more news items as needed -->
  </div>
  <button class="news-nav-button prev">Previous</button>
  <button class="news-nav-button next">Next</button>
</section>


<section class="sectionVirtualTour">
  <div class="text-center">
    <h2>Take a Virtual Tour</h2><br>
    <div class="const_undeline">
      <hr id="hr_1">
      <hr id="hr_2">
    </div>
    <p>Explore our campus and facilities from the comfort of your home.</p>
    <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3952.592020171347!2d3.9098940741416643!3d7.832930306565178!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x10375959103d6c31%3A0xc0617cfc3cb80fb6!2sCrescent%20heights.%20Oyo.!5e0!3m2!1sen!2sng!4v1690306759778!5m2!1sen!2sng" target="_blank" class="virtual-tour-link">
      View Larger Map
    </a><br><br>
    <div class="school_map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3952.592020171347!2d3.9098940741416643!3d7.832930306565178!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x10375959103d6c31%3A0xc0617cfc3cb80fb6!2sCrescent%20heights.%20Oyo.!5e0!3m2!1sen!2sng!4v1690306759778!5m2!1sen!2sng" width="90%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</section>

{% endblock %}
