<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>news_events</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="swiper_bundle.css">

</head>
<body>

  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">

        <div class="post-img">
          <img src="https://images.unsplash.com/photo-1596265371388-43edbaadab94?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=301&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=501" alt="">
          <a href="#" class="over-layer"><i class="fa fa-link"></i></a>
        </div>
        <div class="post-content">
          <h3 class="post-title">
            <a href="#">Excursion to Erin-Ijesha</a>
          </h3>
          <span class="post-date"><i class="fa fa-clock-o"></i>Out 27, 2019</span>
            <button class="read-more" onclick="document.getElementById('detBtn').style.display='block'">READ MORE</button>
            <div id="detBtn" class="details_info">
                <span onclick="document.getElementById('detBtn').style.display='none'" class="close" title="Close the details"><b>&times</b></span>
                <h4>We can write the details here.</h4>
            </div>

            <script>
                // Get the modal
                var details_info = document.getElementById('detBtn');
                
                // When the user clicks anywhere outside of the modal, close it
                window.onclick = function(event) {
                if (event.target == details_info) {
                    details_info.display = "none";
                }
                }
                // Get the element that closes the modal
                var span = document.getElementsByClassName("close")[0];
                </script>
        </div>

      </div>

      
      <div class="swiper-slide">
        <div class="post-img">
          <img src="https://images.unsplash.com/photo-1564979268369-42032c5ca998?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=300&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=500" alt="">
          <a href="#" class="over-layer"><i class="fa fa-link"></i></a>
        </div>
        <div class="post-content">
          <h3 class="post-title">
            <a href="#">Excursion to Badagry</a>
          </h3>
          <span class="post-date"><i class="fa fa-clock-o"></i>Out 27, 2019</span>
          <button class="read-more" onclick="document.getElementById('detBtn3').style.display='block'">READ MORE</button>
            <div id="detBtn3" class="details_info">
                <span onclick="document.getElementById('detBtn3').style.display='none'" class="close" title="Close the details"><b>&times</b></span>
                <h4>Here comes the third one</h4>
            </div>

            <script>
                // Get the modal
                var details_info = document.getElementById('detBtn3');
                
                // When the user clicks anywhere outside of the modal, close it
                window.onclick = function(event) {
                if (event.target == details_info) {
                    details_info.display = "none";
                }
                }
                // Get the element that closes the modal
                var span = document.getElementsByClassName("close")[0];
                </script>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="post-img">
          <img src="https://images.unsplash.com/photo-1533227268428-f9ed0900fb3b?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=303&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=503" alt="">
          <a href="#" class="over-layer"><i class="fa fa-link"></i></a>
        </div>
        <div class="post-content">
          <h3 class="post-title">
            <a href="#">2024 Inter-out Sport</a>
          </h3>
          <span class="post-date"><i class="fa fa-clock-o"></i>Out 27, 2019</span>
          <button class="read-more" onclick="document.getElementById('detBtn2').style.display='block'">READ MORE</button>
            <div id="detBtn2" class="details_info">
                <span onclick="document.getElementById('detBtn2').style.display='none'" class="close" title="Close the details"><b>&times</b></span>
                <h4>This is another Caption</h4>
            </div>

            <script>
                // Get the modal
                var details_info = document.getElementById('detBtn2');
                
                // When the user clicks anywhere outside of the modal, close it
                window.onclick = function(event) {
                if (event.target == details_info) {
                    details_info.display = "none";
                }
                }
                // Get the element that closes the modal
                var span = document.getElementsByClassName("close")[0];
                </script>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="post-img">
                  <img src="https://images.unsplash.com/photo-1564979268369-42032c5ca998?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=300&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=500" alt="">
                  <a href="#" class="over-layer"><i class="fa fa-link"></i></a>
                </div>
                <div class="post-content">
                  <h3 class="post-title">
                    <a href="#">Excursion to Badagry</a>
                  </h3>
                  <span class="post-date"><i class="fa fa-clock-o"></i>Out 27, 2019</span>
                  <button class="read-more" onclick="document.getElementById('detBtn3').style.display='block'">READ MORE</button>
                    <div id="detBtn3" class="details_info">
                        <span onclick="document.getElementById('detBtn3').style.display='none'" class="close" title="Close the details"><b>&times</b></span>
                        <h4>Here comes the third one</h4>
                    </div>

                    <script>
                        // Get the modal
                        var details_info = document.getElementById('detBtn3');
                        
                        // When the user clicks anywhere outside of the modal, close it
                        window.onclick = function(event) {
                        if (event.target == details_info) {
                            details_info.display = "none";
                        }
                        }
                        // Get the element that closes the modal
                        var span = document.getElementsByClassName("close")[0];
                        </script>
                </div>
      </div>

      <div class="swiper-slide">
        <div class="post-img">
                  <img src="https://images.unsplash.com/photo-1576659531892-0f4991fca82b?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=301&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=501" alt="">
                  <a href="#" class="over-layer"><i class="fa fa-link"></i></a>
                </div>
                <div class="post-content">
                  <h3 class="post-title">
                    <a href="#">Excursion to Cocoa House</a>
                  </h3>
                  <span class="post-date"><i class="fa fa-clock-o"></i>Out 27, 2019</span>
                  <button class="read-more" onclick="document.getElementById('detBtn4').style.display='block'">READ MORE</button>
                    <div id="detBtn4" class="details_info">
                        <span onclick="document.getElementById('detBtn4').style.display='none'" class="close" title="Close the details"><b>&times</b></span>
                        <h4>This is the fourth one</h4>
                    </div>

                    <script>
                        // Get the modal
                        var details_info = document.getElementById('detBtn4');
                        
                        // When the user clicks anywhere outside of the modal, close it
                        window.onclick = function(event) {
                        if (event.target == details_info) {
                            details_info.display = "none";
                        }
                        }
                        // Get the element that closes the modal
                        var span = document.getElementsByClassName("close")[0];
                        </script>
                </div>

      </div>
      <div class="swiper-slide">
        <div class="post-img">
          <img src="https://images.unsplash.com/photo-1586083702768-190ae093d34d?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=305&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=505" alt="">
          <a href="#" class="over-layer"><i class="fa fa-link"></i></a>
        </div>
        <div class="post-content">
          <h3 class="post-title">
            <a href="#">Lorem ipsum dolor sit amet.</a>
          </h3>
          <span class="post-date"><i class="fa fa-clock-o"></i>Out 27, 2019</span>
          <a href="#" class="read-more">read more</a>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="post-img">
                  <img src="https://images.unsplash.com/photo-1484656551321-a1161420a2a0?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=306&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=506" alt="">
                  <a href="#" class="over-layer"><i class="fa fa-link"></i></a>
                </div>
                <div class="post-content">
                  <h3 class="post-title">
                    <a href="#">Lorem ipsum dolor sit amet.</a>
                  </h3>
                  <span class="post-date"><i class="fa fa-clock-o"></i>Out 27, 2019</span>
                  <a href="#" class="read-more">read more</a>
                </div>
      </div>

      <div class="swiper-slide">
        <div class="post-img">
          <img src="https://images.unsplash.com/photo-1596265371388-43edbaadab94?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=301&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=501" alt="">
          <a href="#" class="over-layer"><i class="fa fa-link"></i></a>
        </div>
        <div class="post-content">
          <h3 class="post-title">
            <a href="#">Excursion to Erin-Ijesha</a>
          </h3>
          <span class="post-date"><i class="fa fa-clock-o"></i>Out 27, 2019</span>
            <button class="read-more" onclick="document.getElementById('detBtn').style.display='block'">READ MORE</button>
            <div id="detBtn" class="details_info">
                <span onclick="document.getElementById('detBtn').style.display='none'" class="close" title="Close the details"><b>&times</b></span>
                <h4>We can write the details here.</h4>
            </div>

            <script>
                // Get the modal
                var details_info = document.getElementById('detBtn');
                
                // When the user clicks anywhere outside of the modal, close it
                window.onclick = function(event) {
                if (event.target == details_info) {
                    details_info.display = "none";
                }
                }
                // Get the element that closes the modal
                var span = document.getElementsByClassName("close")[0];
                </script>
        </div>
        
      </div>
      <div class="swiper-slide">
        <div class="post-img">
                  <img src="https://images.unsplash.com/photo-1576659531892-0f4991fca82b?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=301&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=501" alt="">
                  <a href="#" class="over-layer"><i class="fa fa-link"></i></a>
                </div>
                <div class="post-content">
                  <h3 class="post-title">
                    <a href="#">Excursion to Cocoa House</a>
                  </h3>
                  <span class="post-date"><i class="fa fa-clock-o"></i>Out 27, 2019</span>
                  <button class="read-more" onclick="document.getElementById('detBtn4').style.display='block'">READ MORE</button>
                    <div id="detBtn4" class="details_info">
                        <span onclick="document.getElementById('detBtn4').style.display='none'" class="close" title="Close the details"><b>&times</b></span>
                        <h4>This is the fourth one</h4>
                    </div>

                    <script>
                        // Get the modal
                        var details_info = document.getElementById('detBtn4');
                        
                        // When the user clicks anywhere outside of the modal, close it
                        window.onclick = function(event) {
                        if (event.target == details_info) {
                            details_info.display = "none";
                        }
                        }
                        // Get the element that closes the modal
                        var span = document.getElementsByClassName("close")[0];
                        </script>
                </div>
      </div>
    </div>
    <div class="swiper-button-next" style="color: black; margin-top: 5px;"></div>
    <div class="swiper-button-prev" style="color: black;  margin-top: 5px;"></div>
    <!-- <div class="swiper-scrollbar"></div> -->
    <div class="swiper-pagination"></div>
  </div>

</body>

<script src="swiper-bundle.min.js"></script>
<script src="index.js"></script>
</html>