<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal Login</title>
</head>
<style>
  body {
    font-family: Calibri light;
  }
  .legalt {
    background-color: aliceblue;
    height: 500px;
    width: 300px;
    padding: 20px 30px;
    position: absolute;
    top: 150px;
    left: 38%;
    border-radius: 3%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .portal_img {
    position: fixed;
    top: 10px;
    left: auto;
    height: 100%;
    width: 100%;
  }

  @media only screen and (max-width: 768px) {
    .legalt {
      height: 450px;
      width: 250px;
      top: 200px;
      left: 15%;
    }
  }
</style>

<link rel="stylesheet" href="../static/styles/index.css">
<link rel="icon" href="tch.jpg" type="image/x-icon">
</head>
<body>
  <nav id="lop"></nav>
  <script src ="../static/scripts/index.js"></script>

  <header>
    <div class="header_img">
      <img src="../static/images/tch.jpg" class="header_logo"></img>
      <img src="../static/images/nom.jpg" class="header_icon"></img>   
    </div>

    <div class="menu_bar">

      <button for="menu_checkbox" class="collapse">
        <hr class="collapse_line" id="line1">
        <hr class="collapse_line" id="line2">
        <hr class="collapse_line" id="line3">
      </button>

      <script>
        document.querySelector('.collapse').addEventListener('click', function() {
            this.classList.toggle('active');
          });

      </script>
            
      <div class="collapse_content">

        <div class="dropdown">
          <a href="{{ url_for('index') }}">
              <button class="dropbtn" id="the_home">Home</button>
          </a>
        </div>

        <div class="dropdown">
            <button class="dropbtn">About</button>
            <div class="dropdown-content" style="position: absolute; left: -50px;">
              <a href="{{ url_for('about') }}">History/Values</a>
              <a href="{{ url_for('govboard') }}">Governing Board</a>
              <a href="{{ url_for('principal') }}">Principal’s Message</a>
              <a href="{{ url_for('anthem') }}">Anthem/Mission/Vision</a>
              <a href="{{ url_for('gallery') }}">Gallery</a>
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn">School</button>
            <div class="dropdown-content" style="position: absolute; left: -50px;">
              <a href="{{ url_for('curriculum') }}">Academic Curricullum</a>
              <a href="{{ url_for('extra_curriculum') }}">Co-Curricullum</a>
              <a href="#">School-Calender</a>
              <a href="#">List Of Books</a>
              <a href="{{ url_for('religious') }}">Religious</a>
            </div>
        </div>


        <div class="dropdown">
            <button class="dropbtn">Admission</button>
            <div class="dropdown-content" id="admission" style="position: absolute; left: -40px;">
              <a href="{{ url_for('admission') }}">Admission Process</a>
              <a href="{{ url_for('fees') }}">Fees/Payment</a>
            </div>
        </div>


        <div class="dropdown">
          <button class="dropbtn">Login Portal</button>
          <div class="dropdown-content" id="portal" style="position: absolute; left: -40px;">
            <a href="{{ url_for('portal') }}">Parent Portal</a>
            <a href="{{ url_for('portal') }}">Teachers Portal</a>
          </div>
        </div>


      </div>
    </div>

  </header>
      <!-- Collapse Script -->
      <script>
        // Add event listener to the button
        const collapseButton = document.querySelector('.collapse');
        const content = document.querySelector('.collapse_content');

        collapseButton.addEventListener('click', () => {
            content.style.display = content.style.display === 'block' ? 'none' : 'block';
        });

        var coll = document.getElementsByClassName("dropbtn");
        var i;

        for (i = 0; i < coll.length; i++)
        {
          coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;

            if (content.style.maxHeight) {
              content.style.maxHeight = null;
            }

            else {
              content.style.maxHeight = content.scrollHeight + "px";
            }

          });
        }
      </script>

<img src="../static/images/tportal.jpg" class="portal_img">
<!--a href="admission.html"><button id="pre">Previous</button></a--> 

<div class="legalt">
  <form method="get" action="#">
    <div style="text-align: center;">
      <img src="../static/images/tch.jpg" style="height: 80px; width: 70px; margin-top: 15px;"><br>
      <h3>Crescent Heights</h3>
    </div>
    <div style="margin-top: 20px;">
      <label for="username">Fullname<span style="color: red;">*</span></label><br>
      <input type="text" id="username" name="username" style="height: 30px; width: 100%;"><br><br>
      <label for="email">Email<span style="color: red;">*</span></label><br>
      <input type="email" id="email" name="email" style="height: 30px; width: 100%;"><br><br>
      <label for="password">Password<span style="color: red;">*</span></label><br>
      <input type="password" id="password" name="password" style="height: 30px; width: 100%;"><br><br><br>
      <input type="submit" value="Login" style="background-color: navy; border: none; border-radius: 5px; height: 40px; width: 100%; font-size: larger; font-family: fantasy; color: wheat;">
    </div>
  </form>
</div>
</body>
</html>
