<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Religious</title>
  <link rel="icon" href="../static/images/tch.jpg" type="image/x-icon">
  <link rel="stylesheet" href="../static/styles/index.css">
  <link rel="stylesheet" href="../static/styles/religion.css">
  <link rel="stylesheet" href="../static/styles/styles.css">
</head>
<body>
  <nav id="lop"></nav>
  <script src ="../static/scripts/index.js"></script>

  <header>
    <div class="header_img">
      <img src="../static/images/tch.jpg" class="header_logo"></img>
      <img src="../static/images/nom.jpg" class="header_icon"></img>   
    </div>

    <div class="menu_bar">

      <button for="menu_checkbox" class="collapse">
        <hr class="collapse_line" id="line1">
        <hr class="collapse_line" id="line2">
        <hr class="collapse_line" id="line3">
      </button>

      <script>
        document.querySelector('.collapse').addEventListener('click', function() {
            this.classList.toggle('active');
          });

      </script>
            
      <div class="collapse_content">

        <div class="dropdown">
          <a href="{{ url_for('index') }}">
              <button class="dropbtn" id="the_home">Home</button>
          </a>
        </div>

        <div class="dropdown">
            <button class="dropbtn">About</button>
            <div class="dropdown-content" style="position: absolute; left: -50px;">
              <a href="{{ url_for('about') }}">History/Values</a>
              <a href="{{ url_for('govboard') }}">Governing Board</a>
              <a href="{{ url_for('principal') }}">Principal’s Message</a>
              <a href="{{ url_for('anthem') }}">Anthem/Mission/Vision</a>
              <a href="{{ url_for('gallery') }}">Gallery</a>
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn">School</button>
            <div class="dropdown-content" style="position: absolute; left: -50px;">
              <a href="{{ url_for('curriculum') }}">Academic Curricullum</a>
              <a href="{{ url_for('extra_curriculum') }}">Co-Curricullum</a>
              <a href="#">School-Calender</a>
              <a href="#">List Of Books</a>
              <a href="{{ url_for('religious') }}">Religious</a>
            </div>
        </div>


        <div class="dropdown">
            <button class="dropbtn">Admission</button>
            <div class="dropdown-content" id="admission" style="position: absolute; left: -40px;">
              <a href="{{ url_for('admission') }}">Admission Process</a>
              <a href="{{ url_for('fees') }}">Fees/Payment</a>
            </div>
        </div>


        <div class="dropdown">
          <button class="dropbtn">Login Portal</button>
          <div class="dropdown-content" id="portal" style="position: absolute; left: -40px;">
            <a href="{{ url_for('portal') }}">Parent Portal</a>
            <a href="{{ url_for('portal') }}">Teachers Portal</a>
          </div>
        </div>


      </div>
    </div>

  </header>

      <!-- Collapse Script -->
      <script>
        // Add event listener to the button
        const collapseButton = document.querySelector('.collapse');
        const content = document.querySelector('.collapse_content');

        collapseButton.addEventListener('click', () => {
            content.style.display = content.style.display === 'block' ? 'none' : 'block';
        });

        var coll = document.getElementsByClassName("dropbtn");
        var i;

        for (i = 0; i < coll.length; i++)
        {
          coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;

            if (content.style.maxHeight) {
              content.style.maxHeight = null;
            }

            else {
              content.style.maxHeight = content.scrollHeight + "px";
            }

          });
        }
      </script>


<img src="../static/images/relig.jpg" class="reg_img">
<div class="banner"></div>
<div class="banner_fill">
  <h1>Religious</h1>
  <a href="{{ url_for('index') }}">Home</a>
  <a>Religious</a>
</div>

<!--a href="about.html"><button id="prev">Previous</button></a> 
<a href="Principal.html"><button id="next">Next</button></a-->

 <!-- Main Content Section -->
 <section class="religious-content">
  <div class="container">
    <div class="intro">
      <h2>Our Religious Ethos</h2>
      <p>At Crescent Heights, we embrace the spiritual growth of our students alongside their academic achievements. Our religious programs are designed to foster a deep sense of spirituality, morality, and community service.</p>
    </div>
    
    <div class="religious-programs">
      <div class="program">
        <h3>Daily Prayers</h3>
        <p>We hold daily prayer sessions for students to reflect and seek guidance. These sessions help in instilling values of humility and gratitude.</p>
      </div>
      <div class="program">
        <h3>MSSN Weekly Program</h3>
        <p>Our curriculum includes religious education classes that cover a wide range of topics from various religious traditions, promoting understanding and respect for diverse beliefs.</p>
      </div>
      <div class="program">
        <h3>Community Service</h3>
        <p>Engagement in community service projects is a core part of our religious programs, encouraging students to live out their faith through acts of kindness and service to others.</p>
      </div>
      <div class="program">
        <h3>Juma'ah Service</h3>
        <p>We host interfaith dialogues to promote mutual respect and understanding among students of different religious backgrounds, fostering a peaceful and inclusive school environment.</p>
      </div>
    </div>
  </div>
</section>

 <!-- Footer Section... -->
 <footer class="footer">
  <div class="container">
    <div class="footer-top">
      <div class="footer-column">
        <h3>Contact Us</h3>
        <p>Odo Aarin Oyo state, Nigeria</p>
        <p>Email: info@example.com</p>
        <p>Phone: +224 803 567 890</p>
      </div>
      <div class="footer-column">
        <h3>Quick Links</h3>
        <ul>
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li><a href="{{ url_for('about') }}">About Us</a></li>
          <li><a href="{{ url_for('extra_curriculum') }}">Programs</a></li>
          <li><a href="{{ url_for('admission') }}">Admissions</a></li>
          <li><a href="{{ url_for('fees') }}">Payment</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>Connect With Us</h3>
        <ul class="social-icons">
          <li><a href="#"><img src="../static/images/facebook-removebg-preview.png" alt="Facebook" class="img-fluid"></a></li>
          <li><a href="#"><img src="../static/images/twitter-removebg-preview.png" alt="Twitter" class="img-fluid"></a></li>
          <li><a href="#"><img src="../static/images/instagram-removebg-preview.png" alt="Instagram" class="img-fluid"></a></li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="footer-bottom">
      <p>&copy; 2024 Crescent Heights. All Rights Reserved.</p><br>
      <p>DEVELOPED BY SOBIL</p>
    </div>
  </div>
</footer>
</body>
</html>
