.gov_img {
    position: relative;
    left: auto;
    top: 110px;
    height: 300px;
    width: 100%; 
}

   /* .footer {
    position: relative;
    display: block;
    top: 400px;
    bottom: auto;
    left: auto;

    }

    
    @media only screen and (max-width: 1000px) {
      .footer {
        top: 600px;
      }
    } */