.banner {
    position: relative;
    top: -190px;
    height: 300px;
    width: 100%;
    background-color: rgb(44, 43, 43);
    opacity: 0.4;
  }
  
  .banner_fill {
    position: relative;
    top: -400px;
    height: 200px;
    text-align: center;
    background-color: transparent;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .banner_fill h1 {
    font-size: 50px;
    font-weight: 100px;
  }
  
  .banner_fill a {
    font-size: 17px;
    font-weight: 50px;
    padding: 10px;
    text-decoration: 1px underline;
  }
  
  
  @media only screen and (max-width: 768px) {
    
    .banner_fill h1 {
      font-size: 30px;
    }
    
    .banner_fill a {
      font-size: 13px;
    }
    #prev {
      position: relative; 
      top: -370px; 
      left: auto;
      width: 80px; 
      height: 20px; 
      margin-left: 3%; 
      font-size: small;
   }
    
    
    #next {
      position: relative; 
      top: -370px; 
      left: 40%;
      width: 80px; 
      height: 20px; 
      margin-left: 3%; 
      font-size: small;
    }
  }
  